/* ==UserStyle==
@name           twitch-chat-fadeout
@namespace      github.com/mechalynx/twitch-chat-fadeout
@version        0.2.0
@description    Fades messages in chat as they age
@author         mechalynx
@preprocessor stylus
@var text fadeout-duration 'Seconds to fadeout' 60
@var checkbox enter-from-right "Message slide-in" 1
@var checkbox fadein-on-hover "Fadein on hover" 1
@var select fadeout-opacity 'Fadeout amount' {
    "30_pct:30%": "0.3",
    "40_pct:40%": "0.4",
    "50_pct:50%": "0.5",
    "60_pct:60%": "0.6",
    "70_pct:60%": "0.6",
    "80_pct:60%": "0.6"
}
==/UserStyle== */
@-moz-document regexp("https?:\\/\\/www\\.twitch\\.tv\\/popout\\/.*\\/chat\\?popout="),
regexp("https?:\\/\\/www\\.twitch\\.tv\\/.*") {
    .chat-line__message,
    .chat-line__status {
        animation-name: enter-right, fade-away;
        animation-duration: 1s, fadeout-duration s;
        animation-fill-mode: none, forwards;
    }
    if fadein-on-hover {
        .chat-list__lines:hover .chat-line__message,
        .chat-list__lines:hover .chat-line__status {
            opacity: 1 !important;
        }
    }
    @keyframes fade-away {
        from {
            opacity: 1;
        }
        to {
            opacity: fadeout-opacity;
        }
    }
    if enter-from-right {
        @keyframes enter-right {
            from {
                margin-left: 100%;
                width: 300%;
            }
            to {
                margin-left: 0%;
                width: 100%;
            }
        }
    }
}
